# Telegram Bot Token (@BotFather dan olingan)
BOT_TOKEN=7890123456:AAExampleTokenHere...

# Admin Telegram ID (xabarlar va buyurtmalar yetib borishi uchun)
ADMIN_ID=123456789

# Admin telegram usernamesi (masalan: @username)
ADMIN_USERNAME=@admin_username
